
<section class="section">
  <div class="container">
    <div class="row blog-entries element-animate">
      <div class="col-md-12 col-lg-12 main-content">


          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Modify Your Post!</h3>

            <form action="/blog/mod" method="post" class="p-5 bg-light">

              <div class="form-group">
                <label>Category *</label>
                <select type="text" class="form-control" name="category_id"  id="category_id">
                  <%
                    for (var i = 0; i < v.postInfo.length; i++) 
                    {%>
                      <option value="<%= v.postInfo[i].CATEGORY_ID %>"> {%> selected <%}
                        <%= v.postInfo[i].CATEGORY_NAME %>
                      </option>
                    <%}
                  %>           
                </select>
              </div>
    
              <div class="form-group">
                <label>Title *</label>
                <input type="text" class="form-control" name="title" id="title">
              </div>

              <div class="form-group">
                <label>Contents *</label>
                <textarea name="contents" id="contents" cols="30" rows="10" class="form-control"></textarea>
              </div>

              <div class="form-group">
                <label>Hash tag</label>
                <input type="text" class="form-control" name="hash_tag" id="hash_tag">
              </div>

              <div class="form-group">
                <input type="submit" value="Post" class="btn btn-primary">              
                <input type="submit" value="Delete This Post" class="btn btn-primary">

              </div>
            </form>
          </div>

      </div>
    </div>
  </div>
</section>





